body{
    text-align: center;
}
section{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
button{
    height: 40px;
    text-align: center;
    background-color: blue;
    border: none;
    color: white;
}
button img{
    width: 35px;
    /* height: 12px; */
    color: white;
}
span{
    color: yellow;
}